node_modules
# React Native & Expo
.expo/
web-build/
dist/
build/
android/
ios/
*.log
*.tmp
*.swp
*.swo
*.DS_Store
*.env*
coverage/
expo-debug.log
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
*.keystore
*.jks
*.p12
*.pem
*.key
*.mobileprovision
*.xcarchive
*.xcuserstate
__generated__/
*.iml
*.idea/
*.vscode/
